* {
    margin: 0;
    padding: 0;
    border: 0;
    /* outline: dashed red 1px; */
}

.wrapper{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    height: 600px;
    width: 1000px;
    margin: 0 auto;

}

h1{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 30px;
    padding: 15px;
    margin: 10px auto;
    font-family: Arial, Helvetica, sans-serif;

}

.time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 500px;
}

p {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    border: solid black 1px
}

#ct {
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
    margin:0 auto;
    border: solid black 1px
}